@page "/"

@using BlazoR.Shared
@using BlazoR.Domain.Models
@inject PostService PostService

<div class="container">
    @foreach (var post in posts)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@post.Header</h5>
                <p class="card-text">@post.Text</p>
                <p class="card-text"><small class="text-muted">@post.Sender</small></p>
            </div>
            <img class="card-img-bottom" src="@post.ImageURL" alt="Card image cap">
        </div>

        <hr />
    }


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" @onclick="PreviousPage">Previous</a>
            </li>

            <li class="page-item"><a class="page-link" href="#">@currentPage</a></li>

            <li class="page-item">
                <a class="page-link" @onclick="NextPage">Next</a>
            </li>
        </ul>
    </nav>
</div>






@code{
    int currentPage = 1;
    const int pagesCount = 10;

    List<Post> posts;

    protected void PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
        }
    }

    protected void NextPage()
    {
        if (posts.Count == pagesCount)
        {
            currentPage++;
        }

    }

    protected override void OnInitialized()
    {
        posts = PostService.GetPosts();
        base.OnInitialized();
    }
}